/* @charset "utf-8"; */
/* CSS Document */
/* THEME */
/* INPUT BACKGROUND */
/* INPUT BORDER */
/* INPUT FONT */
/* BUTTON FONT */
/* BUTTON BACKGROUND */
/* BUTTON BORDER */
/* @charset "utf-8"; */
/* CSS Document */
/* @charset "utf-8"; */
/* CSS Document */
/* FUNCTION */
/* ANIMATION */
/* HEADER */
/* FORM */
/* NOTE */
/* SIGNATURE */
/* FOOTER */
/* TABLE */
/* GENERAL */
/* ICON */
/* LAYOUT */
/* FORM INITIALIZATION */
/* LABEL */
/* BOX */
/* TABLE INITIALIZATION */
/* TABLE */
/* RESOURCE */
/* TYPEFACE */
/* SEMANTIC ELEMENTS */
body {
  background-color: #ffffff;
}

/* NEUTRALIZATION */
h1, h2, h3, h4, h5, h6, p, mark, ol, ul, li {
  background-color: transparent;
}

/* HEADER */
header span.Header {
  color: #000000;
}

header span.Detail {
  color: #000000;
}

header h1 {
  color: #0070c0;
  border-top-color: #0070c0;
  border-bottom-color: #0070c0;
}

/* FORM */
.Note {
  border-color: #00b0f0;
}

ol, ul, li {
  color: #000000;
}

main form h2 {
  color: #ffffff;
  background-color: #00b0f0;
}

main form h2.Plain {
  color: #000000;
  background-color: transparent;
}

main form fieldset span.Number, main form fieldset span.NumberFix {
  color: #ffffff;
  background-color: #00b0f0;
}

main form fieldset span.Plain {
  color: #000000;
  background-color: transparent;
}

main form fieldset label {
  color: #000000;
}

main form fieldset span.Separator, main form fieldset span.Description {
  color: #000000;
}

main form fieldset table.BoxSquare tbody tr td {
  border-color: #00b0f0;
  background-color: #ebecec;
}

main form fieldset .BoxRound {
  border-color: #00b0f0;
  background-color: #ebecec;
}

main form fieldset .Note {
  border-color: #0070c0;
}

main form fieldset .Note h3 {
  color: #000000;
  background-color: transparent;
}

main form fieldset .Note ol li, main form fieldset .Note ul li {
  color: #000000;
}

main form fieldset table.SignatureSmall, main form fieldset table.SignatureMedium {
  border-color: #0070c0;
}

main form fieldset table.SignatureSmall thead tr th, main form fieldset table.SignatureMedium thead tr th {
  color: #000000;
  border-bottom-color: #0070c0;
}

main form fieldset table.SignatureSmall tbody tr td, main form fieldset table.SignatureMedium tbody tr td {
  color: #000000;
  background-color: #ebecec;
}

main form fieldset table.SignatureSmall tfoot tr td, main form fieldset table.SignatureMedium tfoot tr td {
  color: #000000;
}

main form fieldset .LineStraight, main form fieldset .LineDot {
  color: #000000;
  border-color: #000000;
}

.Signature img {
  background-color: #e47d3a;
}

.Signature span.Name {
  color: #000000;
  background-color: #e47d3a;
}

.Signature span.Description {
  color: #000000;
}

/* INPUT */
input[type="text"], input[type="password"], input[type="email"], input[type="number"], textarea {
  color: #000000;
  background-color: #ebecec;
  border-color: #00b0f0;
}

input[type="text"].LineDot, input[type="password"].LineDot, input[type="number"].LineDot, input[type="email"].LineDot, xtarea.LineDot {
  background-color: transparent;
  border-color: #000000;
}

input[type="radio"].Plain + label {
  color: #000000;
  background-color: transparent;
}

input[type="radio"].Plain:checked + label {
  color: #ffffff;
  background-color: #0070c0;
}

input[type="checkbox"].Plain + label {
  color: #000000;
  background-color: transparent;
}

input[type="checkbox"].Plain:checked + label {
  color: #ffffff;
  background-color: #0070c0;
}

textarea:disabled {
  color: #ffffff;
  background-color: #e47d3a;
}

/* TABLE */
table.Square thead tr th {
  background-color: #ffffff;
  color: #000000;
  border-color: #00b0f0;
}

table.Square tbody tr td {
  border-color: #00b0f0;
  color: #000000;
}

table.Square tbody tr:nth-child(odd) {
  background-color: #ebecec;
}

table.Square tbody tr:nth-child(even) {
  background-color: #ebecec;
}

/* FOOTER */
footer {
  border-top-color: #0070c0;
}

footer span.Header, footer span.Detail {
  color: #000000;
}
