/* global */

	body {
	margin-left: 20px;
	margin-top: 9px;
	margin-right: 0px;
	margin-bottom: 5px;
	width: 96%;
	background-repeat: no-repeat;
	height: 100%;
	background-color:#ffffff;
} 
	
table td{
	font-family:"Times New Roman", Times, serif;
	font-size:9.8px;
	font-weight:normal;
	padding:0;
    border: 1px solid black;
}

	#wrapper {
	margin: 0 auto;
	width: auto;
	border-style: none;
	height: auto;
}

	#LoginWrapper {
	margin: 0 auto;
	width: 30%;
	border-style: none;
	height: auto;
}

/* main */

#header {
	width: 100%;
	float:left;
	height: 60px;
	
}

.Logo {
	width: 14%;
	float: left;
	height: 50px;
	padding-left: 20px;
	margin-top:10px;
}

.welcome {	
	width: 50%;
	float: right;
	height: auto;	
	font-family:"Times New Roman", Times, serif;
	font-size:9.8px;
	text-align:right;	
	font-weight:normal;
	margin-top:45px;
    color: #000000;	
}

.Content{	
	height: auto;
	font-family:"Times New Roman", Times, serif;
	font-size:9.8px;	
	font-weight:normal;       
	color: #000000;
	margin-top:0px;
}

			
.page-title {
	width: 83%;
	margin:10px 3px 5px 0;
	padding: 0 0 0 0;
	float: right;
	height: 35px;
	line-height:35px;
	font-family: "Times New Roman", Times, serif;
	font-style:oblique;
	font-size:24px;
	word-spacing:2px;
	font-weight:normal;
	text-align:left;
	color:#ff0000;
}

.main-content {
	width: 100%;
	margin: 3px 0px 0px 0px;
	padding: 0 0 0 0;
	height: 100%;
	float:left;
    font-family:"Times New Roman", Times, serif;
    font-size:9.8px;
}

.left-menu {
	width: 16%;
	margin: 10px 0 5px 10px;
	padding: 0 0 5px 0;
	float:left;
	height: 85%;
	background-color:#f0f0f0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border:1px solid #e4e4e4;
	position:absolute;
	left: 1px;
	top: 70px;
}

.right-content {
	width: 80%;
	margin: 0 10px 5px 0;
	padding: 10px 10px 15px 10px;
	float: right;
	height: 100%;
	border:1px solid #eee;
	background-color:#fff;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
}
	
td {
    font-size:9.8px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 0px 0px 0px 0px;
    text-align:left;
    width: 25%;
}

thead,table-Summary1 {
    border: 1px solid black;
}
td.one {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 0px 0px 0px 0px;
}
tr.rowStyle {
    border-style: solid;
    border-color: black;
    border-width: 1px;
}



#table-design thead {
	width: 100%;
    
}


#table-design {
    border-collapse:collapse;
    border: 0px solid black;
    width: 100%;
}
#table-design td {
	padding: 5px 5px 5px 0;
	text-align:right;
         border: 0px solid black; 
}
#table-design thead th {
	padding-right: 10px;
	text-align: center;
         border: 0px solid black;
}

#table-data {
    border-collapse:separate;
    border: 0px solid black;
    width: 100%;
    height:100px;
}
#table-data td {
	padding: 0px 0px 0px 0px;
	text-align:right;
	border: 0px solid black; 
	font-size:9.8px;
}
#table-data thead th {
	padding-right: 0px;
	vertical-align:top;
    text-align: center;
    border: 0px solid black;
}

#table-data thead th.title {
	padding-left: 0px;
	text-align: left;
    border: 0px solid black;
}

#table-data thead th.content {
    width:80px;
	padding: 0px 0px 0px 0px;
	vertical-align:top;
    text-align: center;
    border: 0px solid black;
}

#table-data thead th.contentSmall {
    width:10px;
	padding: 0px;
	vertical-align:top;
    text-align: center;
    border: 0px solid black;
}


#table-data thead th.contentLeft {
    width:130px;
	padding: 0px;
	vertical-align:top;
    text-align: left;
    border: 0px solid black;
}

#table-data thead th.contentMediumLeft {
    width:40px;
	padding: 0px;
	vertical-align:top;
    text-align: left;
    border: 0px solid black;
}



#table-data thead th.contentSmallLeft {
    width:1px;
	padding: 0px;
	vertical-align:top;
    text-align: left;
    border: 0px solid black;
}

#table-data thead th.contentRight {
    width:40px;
	padding: 0px;
	vertical-align:top;
    text-align: right;
    border: 0px solid black;
}

#table-data thead th.contentMediumRight {
    width:70px;
	padding: 0px;
	vertical-align:top;
    text-align: right;
    border: 0px solid black;
}

#table-data thead th.contentSmallRight {
    width:50px;
	padding: 0px;
	vertical-align:top;
    text-align: right;
    border: 0px solid black;
}

#table-dataPage2 {
    border-collapse:separate;
    border: 0px solid black;
    width: 100%;
    height:100px;
}
#table-dataPage2 td {
	padding: 0px 0px 0px 0px;
	text-align:right;
         border: 0px solid black; 
}
#table-dataPage2 thead th {
	padding-right: 0px;
	vertical-align:top;
    text-align: center;
    border: 0px solid black;
}

#table-dataPage2 thead th.title {
	padding-left: 0px;
	text-align: left;
    border: 0px solid black;
}

#table-dataPage2 thead th.content {
    width:80px;
	padding: 0px 0px 0px 0px;
	vertical-align:top;
    text-align: center;
    border: 0px solid black;
}

#table-dataPage2 thead th.contentSmall {
    width:10px;
	padding: 0px;
	vertical-align:top;
    text-align: center;
    border: 0px solid black;
}

#table-dataPage2 thead th.contentLeft {
    width:130px;
	padding: 0px;
	vertical-align:top;
    text-align: left;
    border: 0px solid black;
}

#table-dataPage2 thead th.contentMediumLeft {
    width:40px;
	padding: 0px;
	vertical-align:top;
    text-align: left;
    border: 0px solid black;
}



#table-dataPage2 thead th.contentSmallLeft {
    width:1px;
	padding: 0px;
	vertical-align:top;
    text-align: left;
    border: 0px solid black;
}

#table-dataPage2 thead th.contentRight {
    width:40px;
	padding: 0px;
	vertical-align:top;
    text-align: right;
    border: 0px solid black;
}

#table-dataPage2 thead th.contentMediumRight {
    width:70px;
	padding: 0px;
	vertical-align:top;
    text-align: right;
    border: 0px solid black;
}

#table-dataPage2 thead th.contentSmallRight {
    width:50px;
	padding: 0px;
	vertical-align:top;
    text-align: right;
    border: 0px solid black;
}

#table-I20R1,
#table-I20R2,
#table-I30R1,
#table-I30R2,
#table-I40R1,
#table-I40R2,
#table-ID20R1,
#table-ID20R2,
#table-ID30R1,
#table-ID30R2,
#table-ID40R1,
#table-ID40R2,
#table-IE20R1,
#table-IE20R2,
#table-IE30R1,
#table-IE30R2,
#table-Summary3,
#table-Summary1,
#table-Benefit1,
#table-Benefit2,
#table-Benefit3,
#table-SummaryHLAWP,
#table-SummaryHLAWP2,
#table-SummaryHLAWP3,
#table-SummaryGYI_Riders1,
#table-SummaryGYI_Riders2,
#table-Summary2 {
    border-collapse:collapse;
    border: 1px solid black;
    width: 100%;
    font-size:9.8px;
}

.table-SummaryGYI_Riders2,
.table-SummaryGYI_Riders1{
    border-collapse:collapse;
    border: 1px solid black;
    width: 100%;
    font-size:9.8px;
}

.table-SummaryHLAWP2-title th {
	border: 0px solid black;
	text-align:left; 
	font-size:9.8px;
    font-family:"Times New Roman", Times, serif;
	font-weight: normal;
}

#table-I20R1 td,
#table-I20R2 td,
#table-I30R1 td,
#table-I30R2 td,
#table-I40R1 td,
#table-I40R2 td,
#table-ID20R1 td,
#table-ID20R2 td,
#table-ID30R1 td,
#table-ID30R2 td,
#table-ID40R1 td,
#table-ID40R2 td,
#table-IE20R1 td,
#table-IE20R2 td,
#table-IE30R1 td,
#table-IE30R2 td,
#table-Summary3 td,
#table-Summary1 td,
#table-SummaryHLAWP td,
#table-SummaryHLAWP2 td,
#table-SummaryHLAWP3 td,
#table-SummaryGYI_Riders1 td,
#table-SummaryGYI_Riders2 td,
#table-Summary2 td
{
	padding: 0px 3px 0px 3px;
	text-align:right;
    border: 1px solid black; 
}

#table-Benefit1 td,
#table-Benefit2 td,
#table-Benefit3 td
{
	padding: 0px 3px 0px 3px;
	text-align: center;
	vertical-align: top;
    border: 1px solid black; 
}

.table-SummaryGYI_Riders2 td,
.table-SummaryGYI_Riders1 td
{
	padding: 0px 3px 0px 3px;
	text-align:right;
    border: 1px solid black; 
}

#table-I20R1 thead th,
#table-I20R2 thead th,
#table-I30R1 thead th,
#table-I30R2 thead th,
#table-I40R1 thead th,
#table-I40R2 thead th,
#table-ID20R1 thead th,
#table-ID20R2 thead th,
#table-ID30R1 thead th,
#table-ID30R2 thead th,
#table-ID40R1 thead th,
#table-ID40R2 thead th,
#table-IE20R1 thead th,
#table-IE20R2 thead th,
#table-IE30R1 thead th,
#table-IE30R2 thead th,
#table-Summary3 thead th,
#table-Summary1 thead th,
#table-Benefit1 thead th,
#table-Benefit2 thead th,
#table-Benefit3 thead th,
#table-SummaryHLAWP thead th,
#table-SummaryHLAWP3 thead th,
#table-SummaryGYI_Riders1 thead th,
#table-SummaryGYI_Riders2 thead th,
#table-Summary2 thead th 
{
	padding-right: 0px;
	vertical-align:top;
    text-align: center;
    border: 1px solid black;
    font-weight: normal;
	
}

#table-SummaryHLAWP2 thead th
{
	padding: 2px 0px;
	vertical-align:middle;
    text-align: center;
    border: 1px solid black;
    font-weight: normal;	
}

.cell_color_grey {
	background-color:#ccc;
}

.table-SummaryGYI_Riders2 thead th,
.table-SummaryGYI_Riders1 thead th
{
	padding-right: 0px;
	vertical-align:top;
    text-align: center;
    border: 1px solid black;
}

#table-I20R1 thead th.title,
#table-I20R2 thead th.title,
#table-I30R1 thead th.title,
#table-I30R2 thead th.title,
#table-I40R1 thead th.title,
#table-I40R2 thead th.title,
#table-ID20R1 thead th.title,
#table-ID20R2 thead th.title,
#table-ID30R1 thead th.title,
#table-ID30R2 thead th.title,
#table-ID40R1 thead th.title,
#table-ID40R2 thead th.title,
#table-IE20R1 thead th.title,
#table-IE20R2 thead th.title,
#table-IE30R1 thead th.title,
#table-IE30R2 thead th.title,
#table-Summary3 thead th.title,
#table-Benefit1 thead th.title,
#table-Benefit2 thead th.title,
#table-Benefit3 thead th.title,
#table-SummaryHLAWP thead th.title,
#table-SummaryHLAWP2 thead th.title,
#table-SummaryHLAWP3 thead th.title,
#table-SummaryGYI_Riders1 thead th.title,
#table-Summary1 thead th.title
{
	padding-left: 0px;
	text-align: left;
    border: 1px solid black;
}

.table-SummaryGYI_Riders2 thead th.title,
.table-SummaryGYI_Riders1 thead th.title
{
	padding-left: 0px;
	text-align: left;
    border: 1px solid black;
}

#table-I20R1 thead th.content,
#table-I20R2 thead th.content,
#table-I30R1 thead th.content,
#table-I30R2 thead th.content,
#table-I40R1 thead th.content,
#table-I40R2 thead th.content,
#table-ID20R1 thead th.content,
#table-ID20R2 thead th.content,
#table-ID30R1 thead th.content,
#table-ID30R2 thead th.content,
#table-ID40R1 thead th.content,
#table-ID40R2 thead th.content,
#table-IE20R1 thead th.content,
#table-IE20R2 thead th.content,
#table-IE30R1 thead th.content,
#table-IE30R2 thead th.content,
#table-Summary3 thead th.content,
#table-Summary3 thead th.content,
#table-SummaryGYI_Riders1 thead th.content,
#table-Summary1 thead th.content,
#table-Benefit1 thead th.content,
#table-Benefit2 thead th.content,
#table-Benefit3 thead th.content,
#table-SummaryHLAWP thead th.content,
#table-SummaryHLAWP2 thead th.content,
#table-SummaryHLAWP3 thead th.content,
#table-SummaryGYI_Riders2 thead th.content,
#table-Summary2 thead th.content {
    width:50px;
	padding: 0px 0px 0px 0px;
	vertical-align:top;
    text-align: center;
    border: 1px solid black;
}

.table-SummaryGYI_Riders2 thead th.content,
.table-SummaryGYI_Riders1 thead th.content{
    width:50px;
	padding: 0px 0px 0px 0px;
	vertical-align:top;
    text-align: center;
    border: 1px solid black;
}


#table-I20R1 thead th.contentMedium,
#table-I20R2 thead th.contentMedium,
#table-I30R1 thead th.contentMedium,
#table-I30R2 thead th.contentMedium,
#table-I40R1 thead th.contentMedium,
#table-I40R2 thead th.contentMedium,
#table-ID20R1 thead th.contentMedium,
#table-ID20R2 thead th.contentMedium,
#table-ID30R1 thead th.contentMedium,
#table-ID30R2 thead th.contentMedium,
#table-ID40R1 thead th.contentMedium,
#table-ID40R2 thead th.contentMedium,
#table-IE20R1 thead th.contentMedium,
#table-IE20R2 thead th.contentMedium,
#table-IE30R1 thead th.contentMedium,
#table-IE30R2 thead th.contentMedium,
#table-Summary3 thead th.contentMedium,
#table-Summary3 thead th.contentMedium,
#table-SummaryGYI_Riders1 thead th.contentMedium,
#table-Summary1 thead th.contentMedium,
#table-Benefit1 thead th.contentMedium,
#table-Benefit2 thead th.contentMedium,
#table-Benefit3 thead th.contentMedium,
#table-SummaryHLAWP thead th.contentMedium,
#table-SummaryHLAWP2 thead th.contentMedium,
#table-SummaryHLAWP3 thead th.contentMedium,
#table-SummaryGYI_Riders2 thead th.contentMedium,
#table-Summary2 thead th.contentMedium
{
    width:120px;
	padding: 0px 0px 0px 0;
	vertical-align:top;
    text-align: center;
    border: 1px solid black;
}

.table-SummaryGYI_Riders2 thead th.contentMedium,
.table-SummaryGYI_Riders1 thead th.contentMedium
{
    width:120px;
	padding: 0px 0px 0px 0;
	vertical-align:top;
    text-align: center;
    border: 1px solid black;
}


#table-I20R1 thead th.contentMedium1,
#table-I20R2 thead th.contentMedium1,
#table-I30R1 thead th.contentMedium1,
#table-I30R2 thead th.contentMedium1,
#table-I40R1 thead th.contentMedium1,
#table-I40R2 thead th.contentMedium1,
#table-ID20R1 thead th.contentMedium1,
#table-ID20R2 thead th.contentMedium1,
#table-ID30R1 thead th.contentMedium1,
#table-ID30R2 thead th.contentMedium1,
#table-ID40R1 thead th.contentMedium1,
#table-ID40R2 thead th.contentMedium1,
#table-IE20R1 thead th.contentMedium1,
#table-IE20R2 thead th.contentMedium1,
#table-IE30R1 thead th.contentMedium1,
#table-IE30R2 thead th.contentMedium1,
#table-Summary3 thead th.contentMedium1,
#table-SummaryGYI_Riders1 thead th.contentMedium1,
#table-Summary1 thead th.contentMedium1,
#table-SummaryHLAWP thead th.contentMedium1,
#table-SummaryHLAWP2 thead th.contentMedium1,
#table-SummaryHLAWP3 thead th.contentMedium1,
#table-SummaryGYI_Riders2 thead th.contentMedium1,
#table-Summary2 thead th.contentMedium1
{
    width:60px;
	padding: 0px 0px 0px 0;
	vertical-align:top;
    text-align: center;
    border: 1px solid black;
}

.table-SummaryGYI_Riders2 thead th.contentMedium1,
.table-SummaryGYI_Riders1 thead th.contentMedium1
{
    width:60px;
	padding: 0px 0px 0px 0;
	vertical-align:top;
    text-align: center;
    border: 1px solid black;
}


#table-I20R1 thead th.contentSmall,
#table-I20R2 thead th.contentSmall,
#table-I30R1 thead th.contentSmall,
#table-I30R2 thead th.contentSmall,
#table-I40R1 thead th.contentSmall,
#table-I40R2 thead th.contentSmall,
#table-ID20R1 thead th.contentSmall,
#table-ID20R2 thead th.contentSmall,
#table-ID30R1 thead th.contentSmall,
#table-ID30R2 thead th.contentSmall,
#table-ID40R1 thead th.contentSmall,
#table-ID40R2 thead th.contentSmall,
#table-IE20R1 thead th.contentSmall,
#table-IE20R2 thead th.contentSmall,
#table-IE30R1 thead th.contentSmall,
#table-IE30R2 thead th.contentSmall,
#table-Summary3 thead th.contentSmall,
#table-SummaryGYI_Riders1 thead th.contentSmall,
#table-Summary1 thead th.contentSmall,
#table-Benefit1 thead th.contentSmall,
#table-Benefit2 thead th.contentSmall,
#table-Benefit3 thead th.contentSmall,
#table-SummaryHLAWP thead th.contentSmall,
#table-SummaryHLAWP2 thead th.contentSmall,
#table-SummaryHLAWP3 thead th.contentSmall,
#table-SummaryGYI_Riders2 thead th.contentSmall,
#table-Summary2 thead th.contentSmall
#table-Summary1_2 thead th.contentSmall
{
    width:10px;
	padding: 0px;
	vertical-align:top;
    text-align: center;
    border: 1px solid black;
    padding: 2px 0px 0px 0;
    font-weight: normal;
}

.table-SummaryGYI_Riders2 thead th.contentSmall,
.table-SummaryGYI_Riders1 thead th.contentSmall
{
    width:10px;
	padding: 0px;
	vertical-align:top;
    text-align: center;
    border: 1px solid black;
    padding: 2px 0px 0px 0;
}

#table-SummaryGYI_Riders2 thead th.contentLeft,
#table-SummaryGYI_Riders1 thead th.contentLeft,
#table-SummaryHLAWP thead th.contentLeft,
#table-SummaryHLAWP2 thead th.contentLeft,
#table-SummaryHLAWP3 thead th.contentLeft,
#table-Summary1 thead th.contentLeft,
#table-Summary2 thead th.contentLeft,
#table-Benefit1 thead th.contentLeft,
#table-Benefit2 thead th.contentLeft,
#table-Benefit3 thead th.contentLeft
{
    width:80px;
	padding: 0px;
	vertical-align:top;
    text-align: left;
    border: 1px solid black;
}

.table-SummaryGYI_Riders2 thead th.contentLeft,
.table-SummaryGYI_Riders1 thead th.contentLeft
{
    width:80px;
	padding: 0px;
	vertical-align:top;
    text-align: left;
    border: 1px solid black;
}


#table-SummaryGYI_Riders1 thead th.contentSmallLeft,
#table-SummaryGYI_Riders2 thead th.contentSmallLeft,
#table-SummaryHLAWP thead th.contentSmallLeft,
#table-SummaryHLAWP2 thead th.contentSmallLeft,
#table-SummaryHLAWP3 thead th.contentSmallLeft,
#table-Summary1 thead th.contentSmallLeft,
#table-Summary2 thead th.contentSmallLeft,
#table-Benefit1 thead th.contentSmallLfet,
#table-Benefit2 thead th.contentSmallLfet,
#table-Benefit3 thead th.contentSmallLfet
{
    width:10px;
	padding: 0px;
	vertical-align:top;
    text-align: left;
    border: 1px solid black;
}

.table-SummaryGYI_Riders2 thead th.contentSmallLeft,
.table-SummaryGYI_Riders1 thead th.contentSmallLeft
{
    width:10px;
	padding: 0px;
	vertical-align:top;
    text-align: left;
    border: 1px solid black;
}

#table-SummaryGYI_Riders1 thead th.contentRight,
#table-SummaryGYI_Riders2 thead th.contentRight,
#table-Summary1 thead th.contentRight,
#table-Summary2 thead th.contentRight,
#table-SummaryHLAWP thead th.contentRight,
#table-SummaryHLAWP2 thead th.contentRight,
#table-SummaryHLAWP3 thead th.contentRight,
#table-Benefit1 thead th.contentRight,
#table-Benefit2 thead th.contentRight,
#table-Benefit3 thead th.contentRight
{
    width:80px;
	padding: 0px;
	vertical-align:top;
    text-align: right;
    border: 1px solid black;
}

.table-SummaryGYI_Riders2 thead th.contentRight,
.table-SummaryGYI_Riders1 thead th.contentRight
{
    width:80px;
	padding: 0px;
	vertical-align:top;
    text-align: right;
    border: 1px solid black;
}

#table-SummaryGYI_Riders1 thead th.contentMediumRight,
#table-SummaryGYI_Riders2 thead th.contentMediumRight,
#table-Summary1 thead th.contentMediumRight,
#table-Summary2 thead th.contentMediumRight,
#table-SummaryHLAWP thead th.contentMediumRight,
#table-SummaryHLAWP2 thead th.contentMediumRight,
#table-SummaryHLAWP3 thead th.contentMediumRight,
#table-Benefit1 thead th.contentMediumRight,
#table-Benefit2 thead th.contentMediumRight,
#table-Benefit3 thead th.contentMediumRight
{
    width:80px;
	padding: 0px;
	vertical-align:top;
    text-align: right;
    border: 1px solid black;
}

.table-SummaryGYI_Riders2 thead th.contentMediumRight,
.table-SummaryGYI_Riders1 thead th.contentMediumRight
{
    width:80px;
	padding: 0px;
	vertical-align:top;
    text-align: right;
    border: 1px solid black;
}

#table-SummaryGYI_Riders1 thead th.contentSmallRight,
#table-SummaryGYI_Riders2 thead th.contentSmallRight,
#table-Summary1 thead th.contentSmallRight,
#table-Summary2 thead th.contentSmallRight,
#table-Benefit1 thead th.contentSmallRight,
#table-Benefit2 thead th.contentSmallRight,
#table-Benefit3 thead th.contentSmallRight,
#table-SummaryHLAWP thead th.contentSmallRight,
#table-SummaryHLAWP2 thead th.contentSmallRight,
#table-SummaryHLAWP3 thead th.contentSmallRight
{
    width:10px;
	padding: 0px;
	vertical-align:top;
    text-align: right;
    border: 1px solid black;
}

.table-SummaryGYI_Riders2 thead th.contentSmallRight,
.table-SummaryGYI_Riders1 thead th.contentSmallRight
{
    width:10px;
	padding: 0px;
	vertical-align:top;
    text-align: right;
    border: 1px solid black;
}

.table-Rider {
    border-collapse:collapse;
    border: 1px solid black;
    width: 100%;
    font-size:9.8px;
    font-weight: normal;
}

.table-Rider td
{
	padding: 0px 3px 0px 3px;
	text-align:right;
    border: 1px solid black;
	font-weight: normal;
}

.table-Rider thead th 
{
	padding-right: 0px;
	vertical-align:top;
    text-align: center;
    border: 1px solid black;
    font-weight: normal;
}

.table-Rider thead th.title
{
	padding-left: 0px;
	text-align: left;
	padding: 2px 2px 2px 2px;
    border: 1px solid black;
    font-weight: normal;
}

.table-Rider thead th.content {
    width:50px;
	padding: 2px 2px 2px 2px;
	vertical-align:top;
    text-align: center;
    border: 1px solid black;
	font-weight: normal;		
}


.table-Rider thead th.contentMedium {
    width:120px;
	padding: 0px 0px 0px 0;
	vertical-align:top;
    text-align: center;
    border: 1px solid black;
    font-weight: normal;
}

.table-Rider thead th.contentMedium1 {
    width:60px;
	padding: 0px 0px 0px 0;
	vertical-align:top;
    text-align: center;
    border: 1px solid black;
    font-weight: normal;
}

.table-Rider thead th.contentSmall {
    width:10px;
	padding: 0px;
	vertical-align:top;
    text-align: center;
    border: 1px solid black;
    padding: 2px 0px 0px 0;
    font-weight: normal;
}

.table-Rider thead th.contentLeft
{
    width:80px;
	padding: 0px;
	vertical-align:top;
    text-align: left;
    border: 1px solid black;
    font-weight: normal;
}

.table-Rider thead th.contentSmallLeft {
    width:10px;
	padding: 0px;
	vertical-align:top;
    text-align: left;
    border: 1px solid black;
    font-weight: normal;
}

.table-Rider thead th.contentRight {
    width:80px;
	padding: 0px;
	vertical-align:top;
    text-align: right;
    border: 1px solid black;
    font-weight: normal;
}

.table-Rider thead th.contentMediumRight {
    width:80px;
	padding: 0px;
	vertical-align:top;
    text-align: right;
    border: 1px solid black;
    font-weight: normal;
}

.table-Rider thead th.contentSmallRight {
    width:10px;
	padding: 0px;
	vertical-align:top;
    text-align: right;
    border: 1px solid black;
    font-weight: normal;
}











#table-notes {
    border-collapse:separate;
    border: 0px solid black;
    width: 100%;
}
#table-notes td {
	padding: 5px 5px 5px 0px;
	text-align:left;
    border: 0px solid black;
}
#table-notes thead th {
	padding-right: 10px;
	vertical-align:top;
    text-align: center;
    border: 0px solid black;
}

#table-NoteSummary3 {
    border-collapse:separate;
    border: 0px solid black;
    width: 100%;
}
#table-NoteSummary3 td {
	padding: 0px 0px 0px 0px;
	text-align:left;
    border: 0px solid black;
}
#table-NoteSummary3 thead th {
	padding-right: 10px;
	vertical-align:top;
    text-align: center;
    border: 0px solid black;
}









#table-design1 {
	
    border-collapse:collapse;
    border: 1px solid black;
    width: 100%;

        
}
#table-design1 td {
	padding: 5px 5px 5px 5px;
	text-align:left;
    border: 1px solid black;
    vertical-align: text-top;
    font-weight: normal;
}

#table-design1 th.content {
	width:88%;
	padding: 5px 5px 5px 5px;
	text-align:left;
    border: 1px solid black;
    font-weight: normal;
}

#table-design1 th.contentSmall {
	width:12%;
	padding: 5px 5px 5px 5px;
	text-align:left;
    border: 1px solid black;
    font-weight: normal;
}

#table-design1 td.content {
	width:88%;
	padding: 5px 5px 5px 5px;
	text-align:left;
    border: 1px solid black;
    vertical-align: text-top;
    font-weight: normal;
}

#table-design1 td.contentSmall {
	width:12%;
	padding: 5px 5px 5px 5px;
	text-align:left;
    border: 1px solid black;
    vertical-align: text-top;
    font-weight: normal;
}

#table-design1_2 {
	
    border-collapse:collapse;
    border: 1px solid black;
    width: 100%;

        
}
#table-design1_2 td {
	padding: 5px 5px 5px 5px;
	text-align:left;
    border: 1px solid black;
    vertical-align: text-top;
    font-weight: normal;
}

#table-design1_2 th.content {
	width:88%;
	padding: 5px 5px 5px 5px;
	text-align:left;
    border: 1px solid black;
    font-weight: normal;
}

#table-design1_2 th.contentSmall {
	width:12%;
	padding: 5px 5px 5px 5px;
	text-align:left;
    border: 1px solid black;
    font-weight: normal;
}

#table-design1_2 td.content {
	width:88%;
	padding: 5px 5px 5px 5px;
	text-align:left;
    border: 1px solid black;
    vertical-align: text-top;
    font-weight: normal;
}

#table-design1_2 td.contentSmall {
	width:12%;
	padding: 5px 5px 5px 5px;
	text-align:left;
    border: 1px solid black;
    vertical-align: text-top;
    font-weight: normal;
    
}


#table-design2 {
    font-size:9.8px;
    border-collapse:collapse;
    border: 1px solid black;
    width: 40%;

}
#table-design2 td {
	padding: 5px 5px 5px 5px;
	text-align:center;
         border: 1px solid black; 
}

#table-design2Wide {
	
    border-collapse:collapse;
    border: 1px solid black;
    width: 70%;

}
#table-design2Wide td {
	padding: 5px 5px 5px 5px;
	text-align:center;
         border: 1px solid black; 
}

#table-design3 {
	
    border-collapse:collapse;    
    width: 40%;

        
}
#table-design3 td {
	padding: 5px 5px 5px 5px;
	text-align:left;
         
}
#table-design3 thead th {
	padding-right: 10px;
	text-align: center;
         border: 1px solid black;
}


    .guarantee{
    font-family:"Times New Roman", Times, serif;
    font-size:9.8px;
    font-weight:normal;
    padding: 5px 5px 5px 20px;
    }

/* footer */



    .footerSI_Page1{
    font-family:"Times New Roman", Times, serif;
    font-size:9.8px;
    font-weight:normal;
    padding: 2px 2px 2px 2px;
    }
        
    .footer_common{
    font-family:"Times New Roman", Times, serif;
    font-size:9.8px;
    font-weight:normal;
    padding: 5px 5px 5px 0px;
    }
		
	.footer {	
	clear: both; 
	width: 100%; 	
	bottom: 0; 
	border: none; 
	padding: 13px 0 0 0; 
	text-align: left;  
	background-color: #fff;
	font-family:"Times New Roman", Times, serif;
	font-size:9.8px;
	font-weight:normal;
}
	.footer1 {
    position: fixed; 	
	clear: both; 
	width: 100%; 	
	bottom: 0; 
	border: none; 
	padding: 13px 0 0 0; 
	text-align: center; 
	color: #666; 
	background-color: #ddd;
	font-family:"Times New Roman", Times, serif;
	font-size:9.8px;
}

	.hrule {
	width: 100%;
	height:1px;
	color: #000;
	background-color: #000;
}

	.hruleInfo {
	width: 100%;
	height:1px;
	color: #000;
	background-color: #000;
	float: right;
}

	.agentInfo {	
	width: 30%;
	float: right;
	height: auto;
	padding-right: 20px;
	/*padding-top:2px;*/
	font-family:"Times New Roman", Times, serif;
	font-size:9.8px;
	text-align:right;	
	font-weight:normal;
	margin-top:10px;
        color: #000; 
	
}

.ContentInfo{	
	height: auto;
	font-family:"Times New Roman", Times, serif;
	font-size:9.8px;	
	font-weight:normal;       
	color: #000000;
	margin-top:10px;
}



#table-LA {
    border-collapse:collapse;
    border: 2px solid black;
    width: 100%;
}

.contentArea{
	width:100%;
	height:793px;
	background-color: #fff;
	margin-top:-38px;
}

.list_left_margin0 {
list-style-type:none;
margin-left:0;
padding-left:0;
}

.list_left_margin0 li{
margin-left:0;
padding-left:0;
}

